{% extends '_base.html' %}
{% block title %}dpa{% endblock title %}
{% block content %}

{% block articles %}
    <div class="container">
        <div><h3 class="m-2 mb-4">Data Protection Act, 2019.</h3> </div>

        <div class="row gx-5">

          {% block side-nav %}
            {% include 'sidenav.html' %}
          {% endblock side-nav %}

          {% block right-display %}
            <div class="col-lg-12 col-xl-8">
                <div class="shadow">
                    <div class="card-body dpa1" data-id="p4">
                        <h5 class="card-title text-center mt-4" id="article1"><em>DPA - Sec. 2</em></h5>
                        <h3 class="text-center">Interpretation</h3>
                        <p class="card-text m-4">
                            In this Act, unless the context otherwise requires —

                            <ul>
                                <li class="mt-2">"Anonymisation" means the removal of personal identifiers from personal data so that the data subject is no longer identifiable.</li>
                                <li class="mt-3">"Biometric data" means personal data resulting from specific technical processing based on physical, physiological or behavioural characterisation including blood typing, fingerprinting, deoxyribonucleic acid analysis, earlobe geometry, retinal scanning and voice recognition;</li>
                                <li class="mt-3">"Cabinet Secretary" means the Cabinet Secretary responsible for matters relating to information, communication and technology;</li>
                                <li class="mt-3">"Consent" means any manifestation of express, unequivocal, free, specific and informed indication of the data subject's wishes by a statement or by a clear affirmative action, signifying agreement to the processing of personal data relating to the data subject;</li>
                                <li class="mt-3">"Data" means information which —
                                    <ol type="a">
                                        <li class="mt-2">is processed by means of equipment operating automatically</li>
                                        <li class="mt-2">is recorded with intention that it should be processed by means of such equipment;</li>
                                        <li class="mt-2">is recorded as part of a relevant filing system;</li>
                                        <li class="mt-2">where it doe., not fall under paragraphs (a) (b) or (c), forms part of .in accessible record; or</li>
                                        <li class="mt-2">is recorded information which is held by a public entity and does not fall within any of paragraphs (a) to (d).</li>
                                    </ol>
                                </li>
                                <li class="mt-3">"Data Commissioner" means the person appointed under <a href="{% url 'art6' %}">section 6;</a></li>
                                <li class="mt-3">"Data controller" means a natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purpose and means of processing of personal data;</li>
                                <li class="mt-3">"Data processor" means a natural or legal person, public authority, agency or other body which processes personal data on behalf of the data controller;</li>
                                <li class="mt-3">"Data subject" means an identified or identifiable natural person who is the subject of personal data;</li>
                                <li class="mt-3">"Encryption" means the process of converting the content of any readable data using technical means into coded form;</li>
                                <li class="mt-3">"Filing system" means any structured set of personal data which is readily accessible by reference to a data subject or according to specific criteria, whether centralised, decentralised or dispersed on a functional or geographical basis;</li>
                                <li class="mt-3">"Health data" means data related to the state of physical or mental health of the data subject and includes records regarding the past, present or future state of the health, data collected in the course of registration for, or provision of health services, or data which associates the data subject to the provision of specific health services;</li>
                                <li class="mt-3">"Identifiable natural person" means a person who can be identified directly or indirectly, by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social or social identity;</li>
                                <li class="mt-3">"National security organs" has the meaning assigned to it under Article 239 of the Constitution;</li>
                                <li class="mt-3">"Person" has the meaning assigned to it under Article 260 of the Constitution;</li>
                                <li class="mt-3">"Personal data" means any information relating to an identified or identifiable natural person;</li>
                                <li class="mt-3">"Personal data" means any information relating to an identified or identifiable natural person;</li>
                                <li class="mt-3">"Personal data breach" means a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to, personal data transmitted, stored or otherwise processed;</li>
                                <li class="mt-3">"Office" means the office of the Data Protection Commissioner;</li>
                                <li class="mt-3">
                                    "Processing" means any operation or sets of operations which is performed on personal data or on sets of personal data whether or not by automated means, such as -
                                    <ol type="a">
                                        <li class="mt-2">collection, recording, organisation, structuring;</li>
                                        <li class="mt-2">storage, adaptation or alteration;</li>
                                        <li class="mt-2">retrieval, consultation or use;</li>
                                        <li class="mt-2">disclosure by transmission, dissemination, or otherwise making available; or</li>
                                        <li class="mt-2">alignment or combination, restriction, erasure or destruction.</li>
                                    </ol>
                                </li>
                                <li class="mt-3">"Profiling" means any form of automated processing of personal data consisting of the use of personal data to evaluate certain personal aspects relating to a natural person, in particular to analyse or predict aspects concerning that natural person's race, sex, pregnancy, marital status, health status, ethnic social origin, colour, age, disability, religion, conscience, belief, culture, dress, language or birth; personal preferences, interests, behaviour, location or movements;</li>
                                <li class="mt-3">"Pseudonymisation" means the processing of personal data in such a manner that the personal data can no longer be attributed to a specific data subject without the use of additional information, and such additional information is kept separately and is subject to technical and organisational measures to ensure that the personal data is not attributed to an identified or identifiable natural person;</li>
                                <li class="mt-3">"Register" means the register kept and maintained by the Data Commissioner under <a href="{% url 'art21' %}">section 21;</a></li>
                                <li class="mt-3">"Restriction of processing" means the marking of stored personal data with the aim of limiting their processing in the future;</li>
                                <li class="mt-3">"Sensitive personal data" means data revealing the natural person's race, health status, ethnic social origin, conscience, belief, genetic data, biometric data, property details, marital status, family details including names of the person's children, parents, spouse or spouses, sex or the sexual orientation of the data subject; and</li>
                                <li class="mt-3">"Third Party" means natural or legal person, public authority, agency or other body, other than the data subject, data controller, data processor or persons who, under the direct authority of the data controller or data processor, are authorised to process personal data.</li>
                            </ul>
                        </p>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
          {% endblock right-display %}
          </div>
    </div>
{% endblock articles %}
{% endblock content %}

