{% extends '_base.html' %}
{% block title %}dpa{% endblock title %}
{% block content %}

{% block articles %}
    <div class="container">
        <div><h3 class="m-2 mb-4">Data Protection Act, 2019.</h3> </div>

        <div class="row gx-5">

          {% block side-nav %}
            {% include 'sidenav.html' %}
          {% endblock side-nav %}

          {% block right-display %}
            <div class="col-lg-12 col-xl-8">
                <div class="shadow">
                    <div class="card-body dpa1" data-id="p4">
                        <h5 class="card-title text-center" id="article1"><em>DPA - Sec. 4</em></h5>
                        <h3 class="text-center">Application</h3>
                        <p class="card-text m-4">
                            This Act applies to the processing of personal data —
                            <ol type="a">
                                <li class="mt-3">entered in a record, by or for a data controller or processor, by making use of automated or non-automated means:
                                  <p>Provided that when the recorded personal data is processed by non-automated means, it forms a whole or part of a filing system;</p>
                                </li>
                                <li class="mt-3">By a data controller or data processor who —
                                    <ol type="i">
                                        <li class="mt-3">Is established or ordinarily resident in Kenya and processes personal data while in Kenya; or</li>
                                        <li class="mt-3">Not established or ordinarily resident in Kenya, but processing personal data of data subjects located in Kenya.</li>
                                    </ol>
                                </li>
                            </ol>
                        </p>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
          {% endblock right-display %}
          </div>
    </div>
{% endblock articles %}
{% endblock content %}

