{% extends '_base.html' %}
{% block title %}dpa{% endblock title %}
{% block content %}

{% block articles %}
    <div class="container">
        <div><h3 class="m-2 mb-4">Data Protection Act, 2019.</h3> </div>

        <div class="row gx-5">

          {% block side-nav %}
            {% include 'sidenav.html' %}
          {% endblock side-nav %}

          {% block right-display %}
            <div class="col-lg-12 col-xl-8">
                <div class="shadow">
                    <div class="card-body dpa1" data-id="p4">
                        <h5 class="card-title text-center" id="article1"><em>DPA - Sec. 9</em></h5>
                        <h3 class="text-center">Powers of the Office</h3>
                        <p class="card-text m-4">
                            <ol type="1">
                                <li class="mt-3">The Data Commissioner shall have power to—
                                    <ol type="a">
                                        <li class="mt-3">Conduct investigations on own initiative, or on the basis of a complaint made by a data subject or a third party;</li>
                                        <li class="mt-3">Obtain professional assistance, consultancy or advice from such persons or organisations whether within or outside public service as considered appropriate;</li>
                                        <li class="mt-3">Facilitate conciliation, mediation and negotiation on disputes arising from this Act;</li>
                                        <li class="mt-3">Issue summons to a witness for the purposes of investigation;</li>
                                        <li class="mt-3">Require any person that is subject to this Act to provide explanations, information and assistance in person and in writing;</li>
                                        <li class="mt-3">Impose administrative fines for failures to comply with this Act;</li>
                                        <li class="mt-3">Undertake any activity necessary for the fulfilment of any of the functions of the Office; and</li>
                                        <li class="mt3">Exercise any powers prescribed by any other legislation.</li>
                                    </ol>
                                </li>
                                <li class="mt-3">The Data Commissioner may enter into association with other bodies or organisations within and outside Kenya as appropriate in furtherance of the object of this Act.</li>
                            </ol>
                        </p>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
          {% endblock right-display %}
          </div>
    </div>
{% endblock articles %}
{% endblock content %}

