{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
[% load i18n %}
{% block title %}checklist{% endblock title %}
{% block content %}
    <div>
        <div><h3 class="m-2">Data Protection Act, 2019 Checklist</h3> </div>
        <div class="container overflow-hidden">
          <div class="row gx-5">
            <div class="col">
             <div class="p-3 border bg-light">DPA Title</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">DPA Content</div>
            </div>
          </div>
<!--          &lt;!&ndash;-&#45;&#45;&#45;&#45; checklist section -&#45;&#45;&ndash;&gt;-->
<!--          <div class="section-row tab-checklist-section">-->
<!--              <div class="container">-->
<!--                  <div class="tab-checklist-box">-->
<!--                      <div class="small-title">-->
<!--                          <h5>-->
<!--                              <i class="fa fa-balance-scale"></i>-->
<!--                              Lawful basis and transparency-->
<!--                          </h5>-->
<!--                      </div>-->
<!--                      <div class="checklist-box">-->
<!--                          <div class="tabnav tab-data">-->
<!--                              <ul class="nav nav-tabs">-->
<!--                                  <li class="nav-item">-->
<!--                                      <a href="#tab1.1" class="nav-link" data-toggle="tab" role="tab" aria-selected="false"><em class="fa"></em>-->
<!--                                      Conduct an information audit to determine what information you process-->
<!--                                      </a>-->
<!--                                  </li>-->
<!--                                  <li class="nav-item">-->
<!--                                      <a href="#tab1.2" class="nav-link active show" data-toggle="tab" role="tab" aria-selected="true"><em class="fa"></em>-->
<!--                                      Have a legal justification for data processing actions.-->
<!--                                      </a>-->
<!--                                  </li>-->
<!--                              </ul>-->
<!--                              <div class="tab-content" id="content-1">-->
<!--                                  <div class="card tab-pane fade" role="tabpanel" id="tab1.1">-->
<!--                                      <div class="card-header" role="tab" id="heading1.1">-->
<!--                                          <h5 class="mb-0"><em class="fa"></em>-->
<!--                                            <a class="collapsed" data-toggle="collapse" href="#collapse1.1" data-parent="#content1" aria-expanded="false" aria-controls="collapse1.1">-->
<!--                                                Conduct information audit  jkjkdsj snfksf jnsk sfbskfbskbfs fksbfksf-->
<!--                                            </a>-->
<!--                                          </h5>-->
<!--                                      </div>-->
<!--                                      <div id="collapse1.1" class="collapse" role="tabpanel" aria-labelledby="heading1.1" style>-->
<!--                                          <div class="card-body">-->
<!--                                              <p>-->
<!--                                                  Organizations that have at least 250 employees or conduct higher-risk data processing are required to keep an up-to-date and detailed list of their processing activities and be prepared to show that list to regulators upon request.-->
<!--                                                  The best way to demonstrate GDPR compliance is using a data protection impact assessment Organizations with fewer than 250 employees should also conduct an assessment because it will make complying with the GDPR's other requirements easier. In your list, you should include: the purposes of the processing, what kind of data you process, who has access to it in your organization, any third parties (and where they are located) that have access, what you're doing to protect the data (e.g. encryption), and when you plan to erase it (if possible).-->

<!--                                              </p>-->
<!--                                          </div>-->
<!--                                      </div>-->
<!--                                  </div>-->

<!--                                  <div class="card tab-pane fade active show" role="tabpanel" id="tab1.2">-->
<!--                                      <div class="card-header" role="tab" id="heading1.2">-->
<!--                                          <h5 class="mb-0">-->
<!--                                              <em class="fa"></em>-->
<!--                                              <a data-toggle="collapse" href="#collapse1.2" data-parent="#content1" aria-expanded="false" aria-controls="collapse1.2" class="collapsed">-->
<!--                                                  Have a justification hbfhss sjfjsf-->
<!--                                              </a>-->
<!--                                          </h5>-->
<!--                                      </div>-->
<!--                                      <div id="collapse1.2" class="collapse fade" role="tabpanel" aria-labelledby="heading1.2">-->
<!--                                          <div class="card-body">-->
<!--                                              <p>-->
<!--                                                  Processing of data is illegal under the GDPR unless you can justify it according to one of six conditions listed in Article 6. There are other provisions related-->
<!--                                              </p>-->
<!--                                          </div>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->

        </div>
    </div>
{% endblock content %}


