{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
[% load i18n %}
{% block title %}checklist{% endblock title %}
{% block content %}
    <div>
        <div class="container bg-cyan"><h3 class="m-2 mt-4">The Data Protection Act, 2019 Checklist for Data Processors</h3></div>
        <div class="container overflow-hidden">
          <form method='post' class="mt-4">
            {% csrf_token %}
              {% for category in categories %}
              <table class="table table-borderless table-hover mb-4">
                  <thead>
                    <tr>
                        <th scope="col"><h4>{{ category.type }}</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in category.categories.all %}
                    <tr>
                        <td>
                            {% if item.implemented %}
                                <input class="form-check-input" type="checkbox"  checked="checked" value={{ item.value }} name="boxes">
                            {% else %}
                                <input class="form-check-input" type="checkbox"  value={{ item.value }} name="boxes">
                            {% endif %}
                            {{ item.checklist_item }}
                        </td>
                        <td></td>
                    </tr>
                  {% endfor %}
                    <hr>
              {% endfor %}
                  </tbody>
                </table>
            <input class="mt-4 btn btn-primary" type="submit" value = "submit">
          </form>
        </div>
    </div>
{% endblock content %}

