{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
[% load i18n %}
{% block title %}checklist{% endblock title %}
{% block content %}

    <section class="page-title bg-2">
      <div class="container mb-4">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1>DPA 2019 Checklist for Data Processors</h1>
              <p>DPA checklist can help your organization, protect your customers’ data, and gauge compliance to the DPA by providing a clear guide to compliance. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

<div class="container">
    <div class="mt-4 mb-4"></div>
    <div class="container pt-4">
        <h5 class="m-4 text-center text-secondary"><em>The DPA checklist is divided into different categories. Read the items in each category and check the box if your organization has complied to the item, else, leave the box unchecked.</em></h5>
    </div>


    <!----------------------------------------start dynamic accordion ------------------------------------->
    <div>
        <form method="post">
            {% csrf_token %}
            {% for category in categories %}
                <div class="accordion">
                    <div class="accordion_header">
                         <span><i class='fa-solid fa-scale-balanced'></i></span>
                         <span>{{ category.type }}</span>
                    </div>
                    <div class="accordion_body">

                        <div class="accordion_body_left">
                            {% for item in category.categories.all %}
                            <div class="focused">
                                <input id='{{ item.id }}' type='checkbox' value="{{ item.id }}" name="boxes" class='form_input_check form_input_check2x'>
                                <label for='{{ item.id }}'><span>{{ item.checklist_item }}</span> <span><i class='fa-solid fa-chevron-right'></i></span></label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="accordion_body_right">
                            {% for item in category.categories.all %}
                             <div>{{ item.brief_description }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="p-4  float-right">
                <input class="mt-4 btn btn-primary" type="submit" value="submit">
            </div>
        </form>
    </div>

    <!------------------------------------------- end dynamic accordion ------------------------------------------>

</div>



<script src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous'></script>
<script src='https://kit.fontawesome.com/f0c48958d0.js' crossorigin='anonymous'></script>
<script>
 $("body").on("click", ".accordion_body_left > div", function(){
     let divOneIndex = $(this).index();
     $(".focused").removeClass("focused");
     $(this).addClass("focused");
     $(".accordion_body_right > div").each(function(){
         let divTwoIndex = $(this).index();
         if(divOneIndex === divTwoIndex){
             $(this).show();
         }else{
             $(this).hide();
         }
     });
 });
</script>


{% endblock content %}

