{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}success submit{% endblock title %}

{% block main_page %}
    <div class="row justify-content-center mt-4">
        <div class="shadow col-sm-6 col-lg-4 justify-content-center m-4 pb-4">
             <a href="{% url 'checklist:home' %}"><img class="rounded mx-auto d-block rounded-circle" src="{% static 'images/logo.png' %}" height="140" width="200"></a><hr>
            <h5 class="text-primary">Checklist submitted successfully!</h5>
            <p class="mb-4">Thank you for submitting the checklist, you shall receive your compliance status as soon as the verification process is done!</p>
            <a href="{% url 'checklist:home' %}" class="btn btn-primary">Return to homepage</a>
<!--            or <a class="btn btn-secondary" href="{% url 'checklist:user-results' %}">View Preliminary Score</a>-->
        </div>
    </div>
{% endblock main_page %}
