{% extends '_base.html' %}
{% block title %}ienforce{% endblock title %}
{% block content %}

    <div class="container border-top border-primary pt-4">
        <div class="pt-4">
            <div class="col-lg-1 col-sm-12 border-bottom border-primary pt-4"><h3><strong>iEnforce</strong></h3></div>
            <h4 class="mt-4 mb-4">DPA Enforcement Module</h4>
        </div>

        <div class="pt-4">
            {% include 'coming_soon.html' %}
        </div>
    </div>
<!--  <div class="pt-4">{% include 'footer.html' %}</div>-->
{% endblock content %}