<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="{% url 'checklist:home' %}">Home</a></li>
						<li><a href="{% url 'checklist:checklist' %}">Checklist</a></li>
						<li><a href="{% url 'checklist:faq' %}">FAQ</a></li>
						<li><a href="https://www.odpc.go.ke/">ODPC, Kenya</a></li>
					</ul>
				</div>
				<p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> <a
						href="{% url 'checklist:home' %}">icomply</a>. All rights reserved!
				</p>
			</div>
		</div>
	</div>
</footer>