{% extends '_base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}

<div class="">
    <div class="text-center">
        <h2 class="title">Complete guide to DPA compliance</h2>
        <p class="text">
            iComply is a resource for organizations and individuals researching the General Data Protection Regulation. Here you’ll find a library of straightforward and up-to-date information to help organizations achieve DPA compliance.
        </p>
    </div>
</div>
{% endblock content %}