{% extends '_base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}

<div class="">
    <div class="row">
        
    </div>
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="animated fadeInUp">The Data Protection Act, 2019 <br>  &#38; Guide to compliance</h1>
                        <p class="animated fadeInUp">The Data Protection Act (DPA) introduces new requirements and challenges for legal and compliance functions. Many organisations will require a Data Protection Officer (DPO) who will have a key role in ensuring compliance.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Wrapper Start -->
    <section class="about section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="block">
                        <div class="section-title">
                            <h2>DPA Compliance Checklist</h2>
                            <p>The DPA is especially daunting for SMEs. Use our DPA compliance checklist to focus your efforts and ensure that you understand the practical steps required to avoid penalties.</p>
                        </div>
                        <p>iComply condenses the DPA for you, and makes it easier for you to check how your organization complies to the DPA.</p>
                    </div>
                </div><!-- .col-md-7 close -->
                <div class="col-md-5">
                    <div class="block">
                        <img src="{% static 'images/wrapper-img.png' %}" alt="Img">
                    </div>
                </div><!-- .col-md-5 close -->
            </div>
        </div>
    </section>

    <section class="feature bg-2">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <h2 class="section-subtitle">Registration as a Data Controller / Processor</h2>
            <p>Complete an online form on ODPC's website. </p>
            <p>Application must be accompanied by a copy of establishment documents, proof of registration such as; CR12,  Partnership deed, Society registration, and a copy of ID.</p>
            <a href="https://dataportal.odpc.go.ke/Account/Register" class="btn btn-view-works">Register Here</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Service Start -->
    <section class="service">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="section-title">
              <h2>DPA 2021 Regulations</h2>
              <p>Some of the DPA regulations are as follows</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="fa fa-user-secret"></i>
              <h4>Data Privacy</h4>
              <p>Appropriate safeguards for the protection of the privacy of the data subject should be provided  by the data controller or processor.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="ion-key"></i>
              <h4>Data Encryption</h4>
              <p>Personal data should be encrypted during transmission or at rest.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="fa fa-eye-slash"></i>
              <h4>Data Minimization</h4>
              <p>Data controller should limit the collection of personal information to what is directly relevant and necessary.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="fa fa-lock"></i>
              <h4>Data Protection Policy</h4>
              <p>The regulation seeks to protect privacy of data subjects by enforcing responsible processing of personal data.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="fa fa-microchip"></i>
              <h4>Obligations of a Data Processor</h4>
              <p>A data processor determines the purpose for which and the means by which personal data is processed.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="ion-leaf"></i>
              <h4>Data Protection by Design / Default</h4>
              <p>Embedding data privacy features and data privacy enhancing technologies directly into the design of projects at an early stage.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="ion-planet"></i>
              <h4>Retention of personal data</h4>
              <p>Personal data should be retained for no longer than is necessary for the purposes for which it is meant. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="service-item">
              <i class="ion-earth"></i>
              <h4>Data Portability request</h4>
              <p>Data subjects may apply to port or copy their personal data from one data controller or data processor to another.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- Call to action Start -->

    <section class="call-to-action bg-1 section-sm overly">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="mb-3">Compliance made easy!</h2>
                        <p>We enable data processors and data controllers to comply with Data Protection Act, 2019 by providing a simplified compliance checklist..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Start -->
<!--    <section class="testimonial">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-12">-->
<!--            <div class="section-title text-center">-->
<!--              <h2>Fun Facts About Us</h2>-->
<!--              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, <br> there live the-->
<!--                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row align-items-center">-->
<!--          <div class="col-md-6">-->
<!--            <div class="block">-->
<!--              <ul class="counter-box clearfix">-->
<!--                <li>-->
<!--                  <div class="counter-item">-->
<!--                    <i class="ion-ios-chatboxes-outline"></i>-->
<!--                    <h4 class="count" data-count="99">0</h4>-->
<!--                    <span>Cups Of Coffee</span>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <div class="counter-item">-->
<!--                    <i class="ion-ios-glasses-outline"></i>-->
<!--                    <h4 class="count" data-count="45">0</h4>-->
<!--                    <span>Article Written</span>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <div class="counter-item">-->
<!--                    <i class="ion-ios-compose-outline"></i>-->
<!--                    <h4 class="count" data-count="125">0</h4>-->
<!--                    <span>Projects Completed</span>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <div class="counter-item">-->
<!--                    <i class="ion-ios-timer-outline"></i>-->
<!--                    <h4 class="count" data-count="200">0</h4>-->
<!--                    <span>Combined Projects</span>-->
<!--                  </div>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-5 col-md-offset-1">-->
<!--            <div class="testimonial-carousel text-center">-->
<!--              <div class="testimonial-slider owl-carousel">-->
<!--                <div>-->
<!--                  <i class="ion-quote"></i>-->
<!--                  <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative-->
<!--                    ideas we feel that our site has unique elements that make us stand out from the crowd."</p>-->
<!--                  <div class="user">-->
<!--                    <img src="{% static 'images/item-img1.jpg' %}" alt="Pepole">-->
<!--                    <p><span>Rose Ray</span> CEO-Themefisher</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <i class="ion-quote"></i>-->
<!--                  <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative-->
<!--                    ideas we feel that our site has unique elements that make us stand out from the crowd."</p>-->
<!--                  <div class="user">-->
<!--                    <img src="{% static 'images/item-img1.jpg' %}" alt="Pepole">-->
<!--                    <p><span>Rose Ray</span> CEO-Themefisher</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

<!-- footer Start -->
{% include 'footer.html' %}
</div>
          <!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>
{% endblock content %}

{% block javascript %}

    <!--
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.1 -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick Carousel -->
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- filter -->
    <script src="{% static 'plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'plugins/SyoTimer/jquery.syotimer.min.js' %}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="{% static 'plugins/google-map/map.js' %}"></script>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock javascript %}