{% extends '_base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}

<div class="">


    <div class="text-center">
<!--      <div class="card-body">-->
        <h2 class="title">Complete guide to DPA compliance</h2>
        <p class="text">
            iComply is a resource for organizations and individuals researching the General Data Protection Regulation.
Here you’ll find a library of straightforward and up-to-date information to help organizations
achieve DPA compliance.

        </p>
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--      </div>-->
    </div>

    <div class="row pt-4">
         <h1 class="text-center">Data Protection Act, 2019</h1>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">

        </div>
    </div>
</div>
{% endblock content %}