
<div class="col-lg-4">
    <div style="border: 1px solid #e3f2fd;">

        <div class="p-3 border" style="background-color: #e3f2fd;"><strong>DPA Contents</strong></div>

        <!--Accordion -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item div-toggle" data-target=".right-display"> <!--added data target class -->
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <strong>Part I (Art 1 - 4)</strong>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="dpa-link">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Preliminary</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush">
                            <li id="dpa1" class="list-group-item">
                                <a href="{% url 'art1' %}" class="dpa-link" data-show=".dpa1">Short title</a> <!-- added data show -->
                            </li>
                            <li id="dpa2" class="list-group-item">
                                <a href="{% url 'art2' %}" class="dpa-link" data-show=".dpa2">Interpretation</a>
                            </li>
                            <li id="dpa3" class="list-group-item">
                                <a href="{% url 'art3' %}" class="dpa-link" data-show=".dpa3">Object and Purpose of this Act</a>
                            </li>
                            <li id="dpa4" class="list-group-item">
                                <a href="{% url 'art4' %}" class="dpa-link" data-show=".dpa3">Application</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>
         <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <strong>Part II (Art. 5 - 17)</strong>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Establishment of the Office of the Data Protection Commissioner</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa5" class="list-group-item">
                                <a href="{% url 'art5' %}" class="dpa-link">Establishment of the Office</a>
                            </li>
                            <li id="dpa6" class="list-group-item">
                                <a href="{% url 'art6' %}" class="dpa-link">Appointment of the Data Commissioner</a>
                            </li>
                            <li id="dpa7" class="list-group-item">
                                <a href="{% url 'art7' %}" class="dpa-link">Qualifications of the Data Commissioner</a>
                            </li>
                            <li id="dpa8" class="list-group-item">
                                <a href="{% url 'art8' %}" class="dpa-link">Functions of the Data Commissioner</a>
                            </li>
                            <li id="dpa9" class="list-group-item">
                                <a href="{% url 'art9' %}" class="dpa-link">Powers of the Office.</a>
                            </li>
                            <li id="dpa10" class="list-group-item">
                                <a href="{% url 'art10' %}" class="dpa-link">Delegation by the Data Commissioner.</a>
                            </li>
                            <li id="dpa11" class="list-group-item">
                                <a href="{% url 'art11' %}" class="dpa-link">Vacancy in the Office of the Data Commissioner.</a>
                            </li>
                            <li id="dpa12" class="list-group-item">
                                <a href="{% url 'art12' %}" class="dpa-link">Removal of the Data Commissioner from office.</a>
                            </li>
                            <li id="dpa13" class="list-group-item">
                                <a href="{% url 'art13' %}" class="dpa-link">Staff of the Office.</a>
                            </li>
                            <li id="dpa14" class="list-group-item">
                                <a href="{% url 'art14' %}" class="dpa-link">Remuneration of the Data Commissioner and staff.</a>
                            </li>
                            <li id="dpa15" class="list-group-item">
                                <a href="{% url 'art15' %}" class="dpa-link">Oath of Office.</a>
                            </li>
                            <li id="dpa16" class="list-group-item">
                                <a href="{% url 'art16' %}" class="dpa-link">Confidentiality agreements.</a>
                            </li>
                            <li id="dpa17" class="list-group-item">
                                <a href="{% url 'art17' %}" class="dpa-link">Protection from personal liability.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>
         <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <strong>Part III (Art. 18 - 24)</strong>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Registration of Data Controllers and Data Processors</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa18" class="list-group-item">
                                <a href="{% url 'art18' %}" class="dpa-link">Registration of data controllers and data Processors.</a>
                            </li>
                            <li id="dpa19" class="list-group-item">
                                <a href="{% url 'art19' %}" class="dpa-link">Application for registration.</a>
                            </li>
                            <li id="dpa20" class="list-group-item">
                                <a href="{% url 'art20' %}" class="dpa-link">Duration of the registration certificate.</a>
                            </li>
                            <li id="dpa21" class="list-group-item">
                                <a href="{% url 'art21' %}" class="dpa-link">Register of data controllers and data processors.</a>
                            </li>
                            <li id="dpa22" class="list-group-item">
                                <a href="{% url 'art22' %}" class="dpa-link">Cancellation or variation of the certificate.</a>
                            </li>
                            <li id="dpa23" class="list-group-item">
                                <a href="{% url 'art23' %}" class="dpa-link">Compliance and audit.</a>
                            </li>
                            <li id="dpa24" class="list-group-item">
                                <a href="{% url 'art24' %}" class="dpa-link">Designation of the Data Protection Officer.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                <strong>Part IV (Art. 25 - 43)</strong>
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Principles and Obligations of Personal Data Protection</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa25" class="list-group-item">
                                <a href="{% url 'art25' %}" class="dpa-link">Principles of personal data protection.</a>
                            </li>
                            <li id="dpa26" class="list-group-item">
                                <a href="{% url 'art26' %}" class="dpa-link">Rights of a data subject.</a>
                            </li>
                            <li id="dpa27" class="list-group-item">
                                <a href="{% url 'art27' %}" class="dpa-link">Exercise of rights by data subject.</a>
                            </li>
                            <li id="dpa28" class="list-group-item">
                                <a href="{% url 'art28' %}" class="dpa-link">Collection of personal data.</a>
                            </li>
                            <li id="dpa29" class="list-group-item">
                                <a href="{% url 'art29' %}" class="dpa-link">Duty to notify.</a>
                            </li>
                            <li id="dpa30" class="list-group-item">
                                <a href="{% url 'art30' %}" class="dpa-link">Lawful processing of personal data.</a>
                            </li>
                            <li id="dpa31" class="list-group-item">
                                <a href="{% url 'art31' %}" class="dpa-link">Data protection impact assessment.</a>
                            </li>
                            <li id="dpa32" class="list-group-item">
                                <a href="{% url 'art32' %}" class="dpa-link">Conditions for consent.</a>
                            </li>
                            <li id="dpa33" class="list-group-item">
                                <a href="{% url 'art33' %}" class="dpa-link">Processing of personal data relating to a child.</a>
                            </li>
                            <li id="dpa34" class="list-group-item">
                                <a href="{% url 'art34' %}" class="dpa-link">Restriction on processing.</a>
                            </li>
                            <li id="dpa35" class="list-group-item">
                                <a href="{% url 'art35' %}" class="dpa-link">Automated individual decision-making.</a>
                            </li>
                            <li id="dpa36" class="list-group-item">
                                <a href="{% url 'art36' %}" class="dpa-link">Objecting to processing.</a>
                            </li>
                            <li id="dpa37" class="list-group-item">
                                <a href="{% url 'art37' %}" class="dpa-link">Processing for direct marketing.</a>
                            </li>
                            <li id="dpa38" class="list-group-item">
                                <a href="{% url 'art38' %}" class="dpa-link">Right to data portability.</a>
                            </li>
                            <li id="dpa39" class="list-group-item">
                                <a href="{% url 'art39' %}" class="dpa-link">Limitation to retention of personal data.</a>
                            </li>
                            <li id="dpa40" class="list-group-item">
                                <a href="{% url 'art40' %}" class="dpa-link">Right of rectification and erasure.</a>
                            </li>
                            <li id="dpa41" class="list-group-item">
                                <a href="{% url 'art41' %}" class="dpa-link">Data protection by design or default.</a>
                            </li>
                            <li id="dpa42" class="list-group-item">
                                <a href="{% url 'art2' %}" class="dpa-link">Particulars of determining organisational measures.</a>
                            </li>
                            <li id="dpa43" class="list-group-item">
                                <a href="{% url 'art3' %}" class="dpa-link">Notification and communication of breach.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                <strong>Part V (Art. 44 - 47)</strong>
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Grounds for Processing of Sensitive Personal Data</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa44" class="list-group-item">
                                <a href="{% url 'art44' %}" class="dpa-link">Processing of sensitive personal data.</a>
                            </li>
                            <li id="dpa45" class="list-group-item">
                                <a href="{% url 'art45' %}" class="dpa-link">Permitted grounds for processing sensitive personal data.</a>
                            </li>
                            <li id="dpa46" class="list-group-item">
                                <a href="{% url 'art46' %}" class="dpa-link">Personal data relating to health.</a>
                            </li>
                            <li id="dpa47" class="list-group-item">
                                <a href="{% url 'art48' %}" class="dpa-link">Further categories of sensitive personal data.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                <strong>Part VI (Art. 48 - 50)</strong>
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Transfer of Personal Data Outside Kenya</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa48" class="list-group-item">
                                <a href="{% url 'art48' %}" class="dpa-link">Conditions for transfer out of Kenya.</a>
                            </li>
                            <li id="dpa49" class="list-group-item">
                                <a href="{% url 'art49' %}" class="dpa-link">Safeguards prior to transfer of personal data out of Kenya.</a>
                            </li>
                            <li id="dpa50" class="list-group-item">
                                <a href="{% url 'art50' %}" class="dpa-link">Processing through a data server or centre in Kenya.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                <strong>Part VII (Art. 51 - 55)</strong>
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Exemptions</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa51" class="list-group-item">
                                <a href="{% url 'art51' %}" class="dpa-link">General exemptions.</a>
                            </li>
                            <li id="dpa52" class="list-group-item">
                                <a href="{% url 'art52' %}" class="dpa-link">Journalism, literature and art.</a>
                            </li>
                            <li id="dpa53" class="list-group-item">
                                <a href="{% url 'art53' %}" class="dpa-link">Research, history and statistics.</a>
                            </li>
                            <li id="dpa54" class="list-group-item">
                                <a href="{% url 'art54' %}" class="dpa-link">Exemptions by the Data Commissioner.</a>
                            </li>
                            <li id="dpa55" class="list-group-item">
                                <a href="{% url 'art55' %}" class="dpa-link">Data-sharing code.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                <strong>Part VIII (Art. 56 - 66)</strong>
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Enforcement Provisions</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa56" class="list-group-item">
                                <a href="{% url 'art56' %}" class="dpa-link">Complaints to the Data Commissioner.</a>
                            </li>
                            <li id="dpa57" class="list-group-item">
                                <a href="{% url 'art57' %}" class="dpa-link">Investigation of complaints.</a>
                            </li>
                            <li id="dpa58" class="list-group-item">
                                <a href="{% url 'art58' %}" class="dpa-link">Enforcement notices.</a>
                            </li>
                            <li id="dpa59" class="list-group-item">
                                <a href="{% url 'art59' %}" class="dpa-link">Power to seek assistance.</a>
                            </li>
                            <li id="dpa60" class="list-group-item">
                                <a href="{% url 'art60' %}" class="dpa-link">Powers of the Office.</a>
                            </li>
                            <li id="dpa61" class="list-group-item">
                                <a href="{% url 'art61' %}" class="dpa-link">Obstruction of the Data Commissioner.</a>
                            </li>
                            <li id="dpa62" class="list-group-item">
                                <a href="{% url 'art62' %}" class="dpa-link">Penalty notices.</a>
                            </li>
                            <li id="dpa63" class="list-group-item">
                                <a href="{% url 'art63' %}" class="dpa-link">Administrative fines.</a>
                            </li>
                            <li id="dpa64" class="list-group-item">
                                <a href="{% url 'art64' %}" class="dpa-link">Right of appeal.</a>
                            </li>
                            <li id="dpa65" class="list-group-item">
                                <a href="{% url 'art65' %}" class="dpa-link">Compensation of data subject.</a>
                            </li>
                            <li id="dpa66" class="list-group-item">
                                <a href="{% url 'art66' %}" class="dpa-link">Preservation Order.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                <strong>Part IX (Art. 67 - 70)</strong>
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Financial Provisions</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa67" class="list-group-item">
                                <a href="{% url 'art67' %}" class="dpa-link">Funds of the Office.</a>
                            </li>
                            <li id="dpa68" class="list-group-item">
                                <a href="{% url 'art68' %}" class="dpa-link">Annual estimates.</a>
                            </li>
                            <li id="dpa69" class="list-group-item">
                                <a href="{% url 'art69' %}" class="dpa-link">Accounts and Audit.</a>
                            </li>
                            <li id="dpa70" class="list-group-item">
                                <a href="{% url 'art70' %}" class="dpa-link">Annual report.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                <strong>Part X (Art. 71)</strong>
              </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Regulations</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa71" class="list-group-item">
                                <a href="{% url 'art71' %}" class="dpa-link">Regulations</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEleven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                <strong>Part XI (Art. 72 - 75)</strong>
              </button>
            </h2>
            <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                    <li tag-id="10" class="chapter">
                        <span><a href="#" class="dpa-link">
                                <strong><p>Miscellaneous Provisions</p></strong>
                            </a>
                            <em></em>
                        </span>
                        <ul style="display: block;" class="list-group list-group-flush dpa-link">
                            <li id="dpa72" class="list-group-item">
                                <a href="{% url 'art72' %}" class="dpa-link">Offences of unlawful disclosure of Personal Data.</a>
                            </li>
                            <li id="dpa73" class="list-group-item">
                                <a href="{% url 'art73' %}" class="dpa-link">General penalty.</a>
                            </li>
                            <li id="dpa74" class="list-group-item">
                                <a href="{% url 'art74' %}" class="dpa-link">Codes, guidelines and certification.</a>
                            </li>
                            <li id="dpa75" class="list-group-item">
                                <a href="{% url 'art75' %}" class="dpa-link">Consequential amendments.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>